<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="engine.android.library">

    <!-- 集成百度地图 -->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- ********************************************************************* -->

    <application
        android:allowBackup="false" >

        <activity
            android:name="engine.android.library.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 集成百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="g9Dqv7kqxydzv5mVOFngpoTANEUMx4nK" >
        </meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- ********************************************************************* -->

        <!-- 集成微信支付 -->
        <activity
            android:name="engine.android.library.wxapi.PayHandlerActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:targetActivity="engine.android.library.wxapi.PayHandlerActivity"
            android:exported="true" />
        <!-- ********************************************************************* -->

        <!-- 集成QQ支付 -->
        <activity
            android:name="engine.android.library.qqapi.PayHandlerActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="qwallet_daimon"/>
            </intent-filter>
        </activity>
        <!-- ********************************************************************* -->

    </application>

</manifest>